<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="receipe-headline my-5">
                    <h2>Vegetarian cheese salad</h2>
                    <div class="receipe-duration">
                        <h6>Prep: 15 mins</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>01.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>02.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>03.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>04.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                </div>
            </div>

            <!-- Ingredients -->
            <div class="col-lg-4">
                <div class="ingredients pr-4">
                    <h4 class="pt-2">Ingredients</h4>

                    <!-- Custom Checkbox -->
                    <div class="custom-control">
                        <p class="">4 Tbsp (57 gr) butter</p>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <p class="">2 large eggs</p>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <p class="">2 yogurt containers granulated sugar</p>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <p class="">1 vanilla or plain yogurt, 170g container</p>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <p class="">2 yogurt containers unbleached white flour</p>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <p class="">1.5 yogurt containers milk</p>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <p class="">1/4 tsp cinnamon</p>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <p class="">1 cup fresh blueberries </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
