.city-picture img,
.food-picture img {
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.city-picture img {
    margin: var(--spacing-lg);
}

.city-title{
    text-align: center;
    padding: var(--spacing);
    font-family: var(--title-page-font);
}

.intro-city{
    margin: 20px;
}