@import "loadingBar.css";

.home{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle 100vh at 90vw 50vh , var(--main-color) 10%, var(--main-color) 60%, var(--light-color) 60.2%);
}

.home .text{
    position: absolute;
    left:20vw;
    top:30vh;
    border-top: var(--dark-color) 2px solid;
    border-bottom: var(--dark-color) 2px solid;
}

.home h1{
    margin-top: 62px;
}

.home p{
    font-size: var(--medium-size);
    text-align: center;
    margin-bottom: 62px;
}

.samurai{
    position: absolute;
    z-index: 2;
    height:70vh;
    right:30vh;
    bottom: 0;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}