.mapLoading{
    display: none;
}

.map{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--second-color);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.map img{
    width: 90vh;
}

.map button{
    width: 25px;
    height: 25px;
    background-color: var(--dark-color);
    border-radius: 50%;
    border: 2px solid var(--light-color);
}

.city{
    position: absolute;
}

.city h3{
    display: none;
    text-shadow: -1px -1px 0 var(--light-color),
    1px -1px 0 var(--light-color),
    -1px 1px 0 var(--light-color),
    1px 1px 0 var(--light-color);
}